.productDetails {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 50%;
  height: 70%;
}

.productDetailsSection {
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
  padding: 10px;
}


.productTag {
  background-color: lightgray;
  margin: 1px;
  padding: 2px;
}

.reviewPara {
  border-bottom: 1px solid lightgrey;
}
