a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

figure img {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  /* width: 70%; */
  margin: auto;
}

